#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MAC 0
#define MAC_CODE 1
#define MAC_NUMBER 2
#define MAC_FUNCTION 3
#define WINDOWS 4
#define WINDOWS_CODE 5
#define WINDOWS_NUMBER 6
#define WINDOWS_FUNCTION 7

    // Behavior Overrides
    &lt {
        tapping-term-ms = <200>;
        flavor = "hold-preferred";
    };

/ {
  
    keymap {
        compatible = "zmk,keymap";

        mac_default_layer {
            bindings = <
                  &kp Q       &kp W &kp E &kp R         &kp T          &kp Y            &kp U             &kp I     &kp O   &kp P          
                 &kp A       &kp S &kp D &kp F         &kp G          &kp H            &kp J             &kp K     &kp L   &kp BSPC       
                &bm LSHFT Z &kp X &kp C &kp V         &kp B          &kp N            &kp M             &kp COMMA &kp DOT &bm RSHFT FSLH 
            >;
        };

       
    };
};